SPOONACULAR_KEY=your_key_here
GEOAPIFY_KEY=your_key_here
PIRATE_WEATHER_KEY=your_key_here
PORT=8000
JWT_SECRET=generate_a_random_secret
JWT_REFRESH_SECRET=generate_a_random_refresh_secret
POSTGRES_PASS=postgres
